In [29]:
import numpy as np
import pandas as pd
import csv
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
df=pd.read_csv('/content/travel_data.csv')

In [31]:
df.head()

,PurqUrban Agglomerationzi,user_id,name,travel_city,Month of Travel,Duration of Travel,interests,hobbies,age,budgets,karma
0,Pune,1,NaN,Raiganj,5,1-3,NaN,NaN,6,50000,2
1,Rajkot,2,NaN,Sawai Madhopur,6,3-5,NaN,NaN,42,100000,2
2,Srinagar,3,NaN,Palakkad,12,5-7,NaN,NaN,3,75000,4
3,Ranchi,4,NaN,Robertson Pet,1,5-7,NaN,NaN,20,50000,3
4,Sangli,5,NaN,Marmagao,5,7,NaN,NaN,40,150000,4

In [32]:
df2=df.drop(columns={'name','interests','hobbies','PurqUrban Agglomerationzi'})

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             400 non-null    int64
 1   travel_city         400 non-null    object
 2   Month of Travel     400 non-null    int64
 3   Duration of Travel  400 non-null    object
 4   age                 400 non-null    int64
 5   budgets             400 non-null    int64
 6   karma               400 non-null    int64
dtypes: int64(5), object(2)
memory usage: 22.0+ KB

In [34]:
df2=df2.reset_index()

In [35]:
df2.drop(['index'],axis=1,inplace=True)

In [36]:
'''
city=df2['travel_city'].str.split(' ',expand=True)
df2['travel_city']=city[0] + city[1]
'''

"\ncity=df2['travel_city'].str.split(' ',expand=True)\ndf2['travel_city']=city[0] + city[1]\n"

In [37]:
df2.isnull().sum()

user_id               0
travel_city           0
Month of Travel       0
Duration of Travel    0
age                   0
budgets               0
karma                 0
dtype: int64

In [38]:
df2.columns

Index(['user_id', 'travel_city', 'Month of Travel', 'Duration of Travel',
       'age', 'budgets', 'karma'],
      dtype='object')

In [39]:
def func(df,column):
  df[column]=df[column].astype('str')
  return(df)
func(df2,df2.columns)

,user_id,travel_city,Month of Travel,Duration of Travel,age,budgets,karma
0,1,Raiganj,5,1-3,6,50000,2
1,2,Sawai Madhopur,6,3-5,42,100000,2
2,3,Palakkad,12,5-7,3,75000,4
3,4,Robertson Pet,1,5-7,20,50000,3
4,5,Marmagao,5,7,40,150000,4
...,...,...,...,...,...,...,...
395,396,Roorkee,2,15,15,75000,4
396,397,Miryalaguda,7,15,42,150000,2
397,398,Ramgarh,4,7,37,100000,4
398,399,Shajapur,7,5-7,18,150000,4
399,400,Raiganj,4,15,22,150000,1

In [40]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             400 non-null    object
 1   travel_city         400 non-null    object
 2   Month of Travel     400 non-null    object
 3   Duration of Travel  400 non-null    object
 4   age                 400 non-null    object
 5   budgets             400 non-null    object
 6   karma               400 non-null    object
dtypes: object(7)
memory usage: 22.0+ KB

In [41]:
combination=df2['user_id'].str.lower() + ' ' +df2['travel_city'].str.lower()+ ' '+ df2['Month of Travel'].str.lower() + ' '+ df2['Duration of Travel'].str.lower()+' ' +df2['age'].str.lower()+' '+df2['budgets'].str.lower()+' '+ df2['karma'].str.lower()+' '

In [42]:
from sklearn.feature_extraction import text
my_stop_words = text.ENGLISH_STOP_WORDS.union(["book"])
vectorize = TfidfVectorizer(ngram_range=(1,1))

In [43]:
feature_vectors = vectorize.fit_transform(combination)

In [44]:
similarity=cosine_similarity(feature_vectors)

In [45]:
similarity.shape

(400, 400)

In [46]:
z1=input('Enter the month of travel').lower()
z2=input('Enter duration of travel').lower()
z3=input('Enter travel city').lower()
z4=input('Enter the age').lower()

Enter the month of travel3
Enter duration of travel3
Enter travel cityRamgarh
Enter the age15

In [47]:
from difflib import get_close_matches
travelcity=df2['travel_city'].tolist()

In [48]:
closematch=difflib.get_close_matches(z3,travelcity)

In [49]:
close=closematch[0]

In [50]:
id_of_quote=df2[df2['travel_city']==close]['user_id'].values[0]
print(type(id_of_quote))

<class 'str'>

In [51]:
similarity_score=list(enumerate(similarity[int(id_of_quote)]))

In [52]:
len(similarity_score)

400

In [53]:
descending_score=sorted(similarity_score,key=lambda x:x[1],reverse=True)

In [54]:
descending_score

[(80, 1.0000000000000002),
 (24, 0.3053142375832397),
 (285, 0.30042732363591756),
 (12, 0.29557817564191385),
 (144, 0.28246401385447084),
 (208, 0.27679559796787967),
 (286, 0.27609293262511725),
 (235, 0.2748958878141605),
 (60, 0.2738642890042723),
 (34, 0.2249117561362675),
 (341, 0.22049082223179362),
 (365, 0.21862311387481878),
 (136, 0.21840432390800277),
 (335, 0.20996910411759434),
 (274, 0.2070766313022753),
 (390, 0.1992122704810465),
 (0, 0.1275655751814811),
 (28, 0.10200043809168957),
 (39, 0.09911783992811245),
 (6, 0.09766916238921575),
 (35, 0.09662889624925557),
 (46, 0.09633432700288241),
 (29, 0.09336452340830896),
 (21, 0.08656746848064968),
 (14, 0.0846423627717368),
 (160, 0.08366713966329835),
 (37, 0.08311580476500421),
 (287, 0.08276398136993557),
 (18, 0.0826251664925021),
 (3, 0.08255220673249897),
 (17, 0.08235670461579468),
 (360, 0.07973475663255433),
 (363, 0.07855532871815914),
 (320, 0.07851901704919836),
 (66, 0.07803878471601142),
 (373, 0.07803878471601142),
 (241, 0.07740176323844634),
 (26, 0.07561877509196506),
 (75, 0.0744366600940028),
 (72, 0.07420467653631961),
 (210, 0.07420467653631961),
 (381, 0.07381154424923396),
 (65, 0.07380278581827505),
 (279, 0.07380278581827505),
 (323, 0.07374537178286088),
 (299, 0.07356892071042727),
 (350, 0.07335085823556368),
 (222, 0.07325969966984527),
 (340, 0.07322175900689738),
 (152, 0.07290713232473676),
 (195, 0.07283554562749288),
 (368, 0.07283554562749288),
 (245, 0.07282984452228171),
 (344, 0.07279046092984642),
 (186, 0.07228870284014535),
 (218, 0.0722204249518922),
 (290, 0.07160781470561824),
 (384, 0.071526267020923),
 (117, 0.07140839373357569),
 (357, 0.07132963379155285),
 (324, 0.07132098554306764),
 (275, 0.07111465395970576),
 (185, 0.07105003131242156),
 (77, 0.07098135726542644),
 (57, 0.07093268440847887),
 (61, 0.07084922462896467),
 (109, 0.07058140135403562),
 (131, 0.07043209980530747),
 (27, 0.07043030129353252),
 (129, 0.07027712502578007),
 (239, 0.07025541354332394),
 (138, 0.07018579658857303),
 (364, 0.06980760675841627),
 (76, 0.06980435089025164),
 (385, 0.069802232238437),
 (255, 0.06970153661644633),
 (263, 0.06932403935408646),
 (199, 0.06901202895346031),
 (264, 0.06869464437433434),
 (15, 0.06865393330680687),
 (346, 0.06815921570290596),
 (181, 0.0680883240200521),
 (193, 0.06805110187226794),
 (125, 0.06715603605994783),
 (97, 0.06712362094114113),
 (328, 0.06710317404487662),
 (387, 0.06703961978101498),
 (257, 0.06682594970536697),
 (177, 0.0663561747095783),
 (164, 0.06534698984111416),
 (143, 0.06295512690774116),
 (148, 0.06170076475582563),
 (1, 0.0),
 (2, 0.0),
 (4, 0.0),
 (5, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.0),
 (13, 0.0),
 (16, 0.0),
 (19, 0.0),
 (20, 0.0),
 (22, 0.0),
 (23, 0.0),
 (25, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (36, 0.0),
 (38, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.0),
 (44, 0.0),
 (45, 0.0),
 (47, 0.0),
 (48, 0.0),
 (49, 0.0),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (58, 0.0),
 (59, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (73, 0.0),
 (74, 0.0),
 (78, 0.0),
 (79, 0.0),
 (81, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (89, 0.0),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (93, 0.0),
 (94, 0.0),
 (95, 0.0),
 (96, 0.0),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.0),
 (108, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.0),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (130, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (137, 0.0),
 (139, 0.0),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (149, 0.0),
 (150, 0.0),
 (151, 0.0),
 (153, 0.0),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.0),
 (171, 0.0),
 (172, 0.0),
 (173, 0.0),
 (174, 0.0),
 (175, 0.0),
 (176, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (194, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.0),
 (206, 0.0),
 (207, 0.0),
 (209, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.0),
 (223, 0.0),
 (224, 0.0),
 (225, 0.0),
 (226, 0.0),
 (227, 0.0),
 (228, 0.0),
 (229, 0.0),
 (230, 0.0),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (240, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (256, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.0),
 (261, 0.0),
 (262, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (276, 0.0),
 (277, 0.0),
 (278, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (288, 0.0),
 (289, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (300, 0.0),
 (301, 0.0),
 (302, 0.0),
 (303, 0.0),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (321, 0.0),
 (322, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (342, 0.0),
 (343, 0.0),
 (345, 0.0),
 (347, 0.0),
 (348, 0.0),
 (349, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.0),
 (356, 0.0),
 (358, 0.0),
 (359, 0.0),
 (361, 0.0),
 (362, 0.0),
 (366, 0.0),
 (367, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.0),
 (382, 0.0),
 (383, 0.0),
 (386, 0.0),
 (388, 0.0),
 (389, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0)]

In [55]:
id=z3[0]

In [57]:
print('Here is your travel buddy')
i=1
for k in descending_score:
  try:
    if(i==1):
      i=i+1
      continue
    id= k[0]
    user_from_id=df2[df2['user_id']==id]['user_id'].values[0]
    print(i-1,')',user_from_id,sep='')
    i=i+1
    if(i==10):
      break
  except:
    pass

Here is your travel buddy